#board {
  bottom: 0;
  left: 0;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}

#board::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

#board::-webkit-scrollbar-button {
  display: block;
  height: 4px;
  width: 4px;
}

#board::-webkit-scrollbar-track-piece {
  background: #00000026;
}

.board-canvas {
  flex-grow: 1;
  position: relative;
  background: linear-gradient(
    180deg,
    #0000003d 0,
    #0000003d 48px,
    #0000 80px,
    #0000
  );
}

.add-board {
}

.mod-add {
}

.board-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.list-wrapper {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin: 0 4px;
  vertical-align: top;
  white-space: nowrap;
  width: 272px;
}

.list-wrapper:last-child {
  margin-right: 8px;
}

.list-wrapper:first-child {
  margin-left: 8px;
}

.list-wrapper.mod-add {
  background-color: #ebecf0;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
  transition: background 85ms ease-in, opacity 40ms ease-in,
    border-color 85ms ease-in;
}

.list-wrapper.mod-add.is-idle {
  background-color: #ffffff3d;
  cursor: pointer;
}
.placeholder {
  display: block;
}

.list-wrapper.mod-add.is-idle .placeholder {
  text-decoration-line: none;
}

.list-wrapper.mod-add.is-idle .placeholder {
  display: block;
}

.list-wrapper.mod-add .placeholder {
  color: #fff;
  display: none;
  padding: 6px 8px;
  transition: color 85ms ease-in;
}

.list-wrapper.mod-add.is-idle .icon-add {
  color: #fff;
  margin-right: 2px;
}

.board-main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 0;
  position: relative;
  transition: margin 0.1s ease-in;
}

.board {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.fancy-scrollbar {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}

.open-add-list {
  text-decoration-line: none;
}

/* .icon-add::before {
  content: '\e901';
} */

.icon-sm {
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  width: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
}

.list {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.list-header {
  flex: 0 0 auto;
  min-height: 20px;
  padding: 10px 8px;
  position: relative;
}

.u-clearfix:after {
  clear: both;
  content: '';
  display: table;
}

.list-cards {
  flex: 1 1 auto;
  margin: 0 4px;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 4px;
  z-index: 1;
}

.card-composer-container {
  display: flex;
  justify-content: space-between;
  max-height: 38px;
  min-height: 38px;
}

.open-card-composer {
  border-radius: 3px;
  color: #5e6c84;
  display: block;
  flex: 1 0 auto;
  margin: 2px 0 8px 8px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
}

.open-card-composer .icon-add {
  color: #6b778c;
  margin-right: 2px;
}

.boarder-header {
  min-height: 10vh;
  height: auto;
  padding: 8px 4px 4px 8px;
  position: relative;
  background: #0000003d;
}

.list-name-input {
}

.list-wrapper.mod-add .list-name-input {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  display: block;
  margin: 0;
  transition: margin 85ms ease-in, background 85ms ease-in;
  width: 100%;
}

.list-wrapper.mod-add.is-idle .list-name-input {
  background: none;
  border-color: #0000;
  box-shadow: none;
  cursor: pointer;
  display: none;
  margin: 0;
}

.list-wrapper.mod-add.is-idle .list-add-controls {
  height: 0;
  margin: 0;
}

.list-wrapper.mod-add .list-add-controls {
  height: 32px;
  margin: 4px 0 0;
  overflow: hidden;
  transition: margin 85ms ease-in, height 85ms ease-in;
}

.u-clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.nch-button {
}

.mod-list-add-button {
}

.nch-button--primary {
}

body .nch-button--primary {
  background-color: #0079bf;
  border: none;
  box-shadow: none;
  color: #fff;
}

body .nch-button {
  align-items: center;
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: #172b4d;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
}

.nch-button.mod-list-add-button,
input.mod-list-add-button {
  float: left;
  height: 32px;
  margin-top: 0;
  min-height: 32px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.icon-lg,
.icon-md,
.icon-sm {
  color: #42526e;
}

.icon-lg,
.icon-md {
  height: 32px;
  line-height: 32px;
  width: 32px;
}

.icon-lg {
  font-size: 24px;
}

.icon-lg,
.icon-md,
.icon-sm {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
}

.icon-close {
}

/* .icon-close:before {
  content: '\e91c';
} */

.dark-hover:hover .icon-lg,
.dark-hover:hover .icon-md,
.dark-hover:hover .icon-sm,
.icon-lg.dark,
.icon-lg.dark-hover:hover,
.icon-md.dark,
.icon-md.dark-hover:hover,
.icon-sm.dark,
.icon-sm.dark-hover:hover {
  color: #172b4d;
  text-decoration: none;
}

.list-wrapper.mod-add.is-idle:hover {
  background-color: #ffffff52;
}

.is-idle {
}

.list-header.is-menu-shown {
  padding-right: 36px;
}

.list-header-target {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.list-header-name-assist {
  display: none;
}

.list-header textarea {
  resize: none;
}

textarea.mod-list-name {
  background: #0000;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 600;
  height: 20px;
  margin: -4px 0;
  max-height: 256px;
  min-height: 20px;
  padding: 4px 8px;
  resize: none;
}

textarea.mod-list-name.is-editing,
textarea.mod-list-name:focus {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
}

.open-card-composer:active {
  background-color: #091e4221;
}

.open-card-composer:hover {
  background-color: #091e4214;
  color: #172b4d;
}

/* .is-hidden {
} */

.list-header-target.is-hidden {
  display: none;
}

/* 
@media only screen and (max-width: 750px) .list-wrapper {
  scroll-snap-align: center;
} */
